UD7/server_soap/Pr2/greetings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Greetings"
             xmlns = "http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="urn:Greetings"
             xmlns:tns="urn:Greetings"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <message name="helloRequest">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="helloResponse">
        <part name="greeting" type="xsd:string"/>
    </message>
    <message name="byeRequest">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="byeResponse">
        <part name="greeting" type="xsd:string"/>
    </message>
    <portType name="HelloPort">
        <operation name="sayHello">
            <input message="tns:helloRequest"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="sayGoodbye">
            <input message="tns:byeRequest"/>
            <output message="tns:byeResponse"/>
        </operation>
    </portType>
    <binding name="HelloBinding" type="tns:HelloPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="urn:GreetingsAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:Greetings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Greetings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="sayGoodbye">
            <soap:operation soapAction="urn:GreetingsAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:Greetings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Greetings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="WSDLService">
        <documentation>Returns a greeting string.</documentation>
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://localhost/DWES/UD7/server_soap/Pr2/greeting_server.php?wsdl"/>
        </port>
    </service>
</definitions>